<div class="container bl br">
    <div class="header">
        <div >
            <img style=" width: 9.8rem;height: 60px;"class="logo" loading="laZY"src="https://verandalearning.com/assets/logo.png" alt="logo"/>
        </div>
        <div class="nav-link desktop">
            <div >
                <a href="" class="links">Products</a>
                <a href="" class="links">Branches</a>
                <a href="" class="links">Blog</a>
                <a href="" class="links">Contact us</a>
            </div>
        </div>
        <div class="desktop">
            <button class="button">Call Us</button>
        </div>
    </div>
</div>
<div class="container bl br">
    <div class="row p15">
        <div class="col-lg-8 ">
            <h5 class="mb15 mt15" style="color:#2da77d;">Changelog</h5>
            <br>
            <p class="mt15 mb15">Additions and updates to the Veranda site</p>
        </div>
        <div class="col-lg-4 bl leftB">
                <p class="mb15 mt15" style="color: #96f ;">Major Updates</p>
                <p  class="mb15 mt15">Keep track of changes and upgrades to the Functionalties of site</p>            
        </div>
    </div>
</div>
<div class="container bl br">
    <div class="container-fluid ">
        <div class="row ">
            <div class="col-lg-8 col-sm-12 ">
                <div class="leftBar mt60 ">
                    <div class="row flex mt35 ">
                        <div class="col-lg-3 col-sm-12 dateborder">
                            <p>June 2022</p>
                        </div>
                        <div class="col-lg-3 col-sm-12">
                            <button class="paymentButton">Payments</button>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <p>BLIK, a popular bank redirect method in Poland, is now available on Stripe across Europe.</p>
                        </div>
                    </div>
                    <div class="row flex mt35 ">
                        <div class="col-lg-3 col-sm-12 dateborder">
                            <p>July 2022</p>
                        </div>
                        <div class="col-lg-3 col-sm-12">
                            <button class="invoiceButton">Invoicing</button>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <p>BLIK, a popular bank redirect method in Poland, is now available on Stripe across Europe.</p>
                        </div>
                    </div>
                    <div class="row flex mt35 ">
                        <div class="col-lg-3 col-sm-12 dateborder">
                            <p>July 2022</p>
                        </div>
                        <div class="col-lg-3 col-sm-12">
                            <button class="invoiceButton">Invoicing</button>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <p>BLIK, a popular bank redirect method in Poland, is now available on Stripe across Europe.</p>
                        </div>
                    </div>
                    <div class="row flex mt35 ">
                        <div class="col-lg-3 col-sm-12 dateborder">
                            <p>July 2022</p>
                        </div>
                        <div class="col-lg-3 col-sm-12">
                            <button class="invoiceButton">Invoicing</button>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <p>BLIK, a popular bank redirect method in Poland, is now available on Stripe across Europe.</p>
                        </div>
                    </div>
                    <div class="row flex mt35 ">
                        <div class="col-lg-3 col-sm-12 dateborder">
                            <p>July 2022</p>
                        </div>
                        <div class="col-lg-3 col-sm-12">
                            <button class="invoiceButton">Invoicing</button>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <p>BLIK, a popular bank redirect method in Poland, is now available on Stripe across Europe.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12 ">
                <div class="filterBar mt60" >
                    <div class="container" style="display: block;">
                    <b><p style="padding-top: 10px;">Filter</p></b> 

                        <div class="flex">
                            <input  type="checkbox"> 
                            <p class="input">Invoicing</p>                    
                        </div>
                        <div class="flex">
                            <input  type="checkbox"> 
                            <p class="input">Payment</p>                    
                        </div>
                        <div class="flex">
                            <input  type="checkbox"> 
                            <p class="input">Functionalites</p>                    
                        </div>
                        <div class="flex">
                            <input  type="checkbox"> 
                            <p class="input">Course</p>                    
                        </div>
                        <div class="flex">
                            <input  type="checkbox"> 
                            <p class="input">Pages</p>                    
                        </div>
                       
                    </div>
                  


                </div>
            </div>
        </div>
       
       
    </div>
</div>